<div class="col-6 border border-dark">

  <div class="mb-4">
    <%= link_to "Bookmarks", bookmarks_path, class: "fs-4 text-decoration-none text-black fw-semibold" %>
  </div>
  <div id="tweets">
    <%= render partial: "tweets/tweet", collection: @tweet_presenters, as: :tweet_presenter %>
  </div>
</div>
 
<div class="col-3">
  <%= render "shared/hashtag_sidebar" %>
</div>