<div class="col-6 border border-dark">

  <div class="mb-4">
    <%= link_to "Home", dashboard_path, class: "fs-4 text-decoration-none text-black fw-semibold" %>
  </div>
  <div class="mb-4"> 
    <%= render "shared/tweet_form" %>
  </div>
  <% Tweet.order(created_at: :desc).each do |tweet| %>
    <%= render "tweets/tweet", tweet: tweet %> <!-- Would work as well: <%= render Tweet.order(created_at: :desc) %> -->
  <% end %>
</div>
    
<div class="col">
  This is the Third column
</div>
