<div class="col-6 border border-dark">

  <div class="mb-4">
    <%= link_to "Home", dashboard_path, class: "fs-4 text-decoration-none text-black fw-semibold" %>
  </div>
  <div class="mb-4"> 
    <%= render "shared/tweet_form" %>
  </div>
  <div id="tweets">
    <%= render partial: "tweets/tweet", collection: @tweets, as: :tweet_presenter %>
  </div>
</div>
 
<div class="col-3">
  <h4 class="text-danger ms-3">This is the Dashboard third column</h4>
</div>


