<div class="col-3 border border-dark">

  <div>
      <%= link_to dashboard_path, data: {turbo_frame: :_top}, class: "fs-4 text-decoration-none txt-black fw-semibold" do %>
        <%= image_tag "back-arrow.png", size: "30x30", class: "me-5" %>
        <span style="position: relative; top: 2px">Messages</span>
      <% end %>
  </div>
  <%= render partial: "tweets/tweet", collection: @tweet_presenters, as: :tweet_presenter %>

</div>
 
<div class="col-6">
  <%= render "shared/hashtag_sidebar" %>
</div>