<div class="col-6 border border-dark">

  <div class="mb-4">
    <%= link_to "Explore", hashtags_path, class: "fs-4 text-decoration-none text-black fw-semibold" %>
  </div>

  <% @hashtags.each do |hashtag| %>
    <div>
      <%= hashtag.tag %>
    </div>
  <% end %>
</div>
 
<div class="col-3">
  <h4 class="text-danger ms-3">This is the Dashboard third column</h4>
</div>