<div class="col-6 border border-dark">

  <div class="mb-4">
    <%= link_to "Explore", hashtags_path, class: "fs-4 text-decoration-none text-black fw-semibold" %>
  </div>

  <% @hashtags.each do |hashtag| %>
    <div class="hashtag px-3 py-3" data-controller="hashtag" data-url="<%= hashtag_path(hashtag) %>">
      <p class="fw-bold mb-0">#<%= hashtag.tag %></p>
      <p class="text-muted fs-6 mb-0"><%= hashtag.tweets.size %>Tweets</p>
    </div>
  <% end %>
</div>
 
<div class="col-3">
  <h4 class="text-danger ms-3">This is the Dashboard third column</h4>
</div>