.btn-twitter {
  background-color: $twitter-blue;
  color: $white;

  &:hover {
    background-color: $twitter-blue-dark;
    color: $white;
  }
}

.btn-twitter-outline {
  background-color: white;
  color: $twitter-blue;
  border-color: $twitter-blue;

  &:hover {
    background-color: $twitter-blue;
    color: white;
  }
}