.hashtag {
  &:hover {
    background-color: $gray-200;
    cursor: pointer;
  }
}

.hashtag-sidebar {
  background-color: $gray-100;
  
  .item:hover {
    background-color: $gray-300;
    cursor: pointer;
  }
}